body {
    background-color: #343d52;
}
h1 {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-size: 26px;
}
h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Abel", sans-serif;
}
p {
    font-size: 14px;
    font-family: "Abel", sans-serif;
}
a {
    color: #0FF;
    text-decoration: none;
}

.navigation {
    text-align: center;
    background-color: #858b97;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navigation h2 {
    display: inline-block;

    border: 1px solid #343d52;
    background-color: #343d52;
    


}
.name-box-container {
    width: 100%;
    height: auto;
    display: grid;
    padding-bottom: 500px;
    background-image: url("/resources/images/Steven-Chafin-portrait.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.name-boxes {
    width: 50%;
}
.tagline-container {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: start;
}
.tagline {
    background-color: #858b97;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 25px;
}
#first-name {
    text-align: right;
}
#last-name {
    float:right;
    margin-top: 52.5%;
    padding-left: 2px;
    text-align: left;
    background-color: #858b97;
}

.slide-in-boxes-container {
    width: 100%;
    display:grid;
    justify-content: center;
}
.info-box {
    background-color: #858b97;
    width: auto;
    height: 10em;
    padding-left: 2px;
    padding-right: 2px;
}
.info-box h2 {
    text-align: center;
    background-color: #0FF;
}
#email-icon {
    height: 50%;
    width: auto;
}
#phone-icon {
    height: 50%;
    width: auto;
}
